*  {
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

html, body {height:100%;
}

header{
    background-color: orange;
    height: 80px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

main{
   display: flex;
   flex-direction: row;
   flex-wrap: wraps;
   justify-content: space-evenly;
   align-items: center;

   
}

nav {
    margin-bottom: 152px;
    padding: 10px;
}
   
section{
    margin-bottom: 152px;
}

header h1{
    padding-left: 20px;
}

nav ul{
    list-style: none;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

li a{
    display: block;
    text-decoration: none;
    
}

input{
    border: 1px solid black;
    font-size: 10px;
    width: 100px;
    height: 30px;
    margin-right: 50px;
}

img{
    width: 20vw; 
    height: 25vh;
    margin: 10px;

}

video{
    width: 700px;
    height: 500px;
    margin-bottom: 10px;
}

h1{
    margin-top: 10px;
}

footer{
    background-color: grey;
    height: 50px;
    font-size: 30px;
    text-align: center; 
    padding: 20px;
}

.video{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   
}