body{
    margin: 0;
}

header{
    background-color: orange;
    height: 80px;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input{
    border: 1px solid black;
    font-size: 10px;
    width: 100px;
    height: 30px;
    margin-right: 50px;
}

img{
    width: 293px;
    height: 220px;
    margin: 20px;
    margin-left: 10px;
}

section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 4;

}

article{
    display: grid;
    justify-content: center;
    align-items: center;
    

}

video{
    width: 800px;
    height: 500px;
    margin-bottom: 50px;
}

footer{
    background-color: grey;
    height: 60px;
    font-size: 20px;
    display: block;

}